<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}"/>
        <title>insta485</title>
    </head>
    <body>
        <header>
            <div class="left-side">
                <a href="/" class="logo"><img src="{{ url_for('static', filename='/images/logo.png') }}" alt="logo"/></a>
                <div class="vert-bar"></div>
                <h1 class="title">Insta485</h1>
            </div>
            <div class="right-side">
                <h2><a href="/explore/">explore</a></h2>
                <div class="vert-bar"></div>
                <h2><a href="/users/{{ logname }}/">{{ logname }}</a></h2>
            </div>
        </header>
        <div class="horizontal-bar"></div>
        <main>
            <div>
                <img src="/uploads/{{ user_icon }}" alt="{{ logname }}'s icon"/>
                <p>{{ logname }}</p>
            </div>
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
                <label>Photo</label><input type="file" name="file" accept="image/*"/>
                <label>Name</label><input type="text" name="fullname" value="{{ fullname }}" required/>
                <label>Email</label><input type="text" name="email" value="{{ email }}" required/>
                <input type="submit" name="update" value="submit"/>
                <input type="hidden" name="operation" value="edit_account"/>
            </form>
            <a href="/accounts/password/">Change password</a>
            <a href="/accounts/delete/">Delete account</a>
        </main>
    </body>
</html>